// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$orange-color: #ff9900;
$error-color: #FF675B;
$ok-button-color: #009745;
$secondary-color: #4A5784;
$white-color: white;